[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
google-cloud-language = "*"
nltk = "*"
googletrans = "==4.0.0-rc1"

[requires]
python_version = "3.8"
