li{
  list-style:none;
}
a{
  text-decoration:none;
  &:visited{
    color:inherit;
  }
}
body{
  margin:0;
  padding:0;
  text-align: center;
  font-family:"游ゴシック";
}

p{
  font-size: 10px;
  @media screen and(min-width:813px){
    font-size:13px;
  }
}

$main-width:85%;
$sp-width:90%;
$sp-size:10px;
$size:13px;

.width{
  width:$sp-width;
  @media screen and ( min-width:813px ){
    width:$main-width;
    max-width:900px;
  }
}

header{
  background-color:rgb(176, 220, 255);
  h1{
    margin:0 auto;
    font-size:20px;
  }
}

main{
  padding-top:20px;
}

h2{
  font-size:15px;
}

.main-wrapper{
  margin:0 auto;
  text-align: center;
  textarea{
  width:$sp-width;
}

button{
  display:block;
  height:30px;
  background-color:rgb(99, 99, 99);
  color:white;
  transition:0.5s;
  &:hover{
    opacity:0.8;
  }
}

.copy{
  svg{
    fill:white;
    width:20px;
    height:20px;
  }
}
}

.svgs{
  display:none;
}
